<center><h2>About Us!</h2></center>
<br/>
<div class="container">
<div class="row">
	<div class="col-sm-6">
		Hello there! This is the friend web app from where you can enlist your friends of your knowledge, those who are more old to you. The old friend is usually is the best friend like a friend of school life or belongs from primary school.
	</div>
	
	<div class="col-sm-6">
		The friends are more likely with your feelings and emotions. To do not forget each and everyone from any aspect, this web app helps you to rmember yor each friends in a manner so that no other one will never going to see your private friend list.
	</div>
</div>
</div>
<br/>
<h4>Contact: +92 320 0400 246</h4>
<br/>
<h4>Location: Empress road, Lahore</h4>
